<h1>マイページ</h1>
<p>名前: <%= @customer.last_name %> <%= @customer.first_name %></p>
<p>住所: <%= @customer.postal_code %> <%= @customer.address %></p>
<p>電話番号: <%= @customer.phone_number %></p>
<p>メールアドレス: <%= @customer.email %></p>

<%= link_to '情報編集', edit_infomation_path %> |
<%= link_to '退会確認', confirm_path %>