<h2 class="text-center mb-4">商品一覧</h2>
<div class="container">
  <table class="table table-bordered table-hover text-center align-middle">
    <thead class="table-light">
      <tr>
        <th>商品ID</th>
        <th>商品名</th>
        <th>税抜価格</th>
        <th>ジャンル</th>
        <th>ステータス</th>
      </tr>
    </thead>
    <tbody>
      <% @items.each do |item| %>
        <tr>
          <td><%= item.id %></td>
          <td>
            <%= link_to item.name, admin_item_path(item.id), class: "text-dark fw-bold" %>
          </td>
          <td><%= item.price.to_s(:delimited) %></td>
          <td><%= item.genre.genre_name %></td>
          <td>
            <span class="<%= item.is_active ? 'text-success fw-bold' : 'text-secondary fw-bold' %>">
              <%= item.is_active ? '販売中' : '販売停止' %>
            </span>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="d-flex justify-content-center">
    <%= paginate @items %>
  </div>
</div>