<div>
  <div class="container">
    <div class="row">
      <div class="col-3 border text-center p-3">
        <h5>ジャンル検索</h5>
        <ul class="list-unstyled" style="text-align: left">
          <% @genres.each do |genre_name| %>
          <li class="text-start"><%= genre_name %></li> <%# 検索の仕方は保留 %>
          <% end %>
        </ul>
      </div>
      <div class="col-md-9">
        <div class="image-container">
          <div>
            <p class="p-4 border">ようこそ、ながのcakeへ!<br>
              このサイトは、ケーキ販売のECサイトになります。
              会員でない方も商品の閲覧はできますが、
              購入には会員登録が必要になります。</p>
          </div>
        </div>
        <%# <h3 class="mt-4">新着情報</h3> %>
        <%# <ul> %>
          <%# <% @items.each do |item| %><%#%>
          <%# <li> %>
          <%# <p></p> %> <%# <%= item.image %><%# %>
          <%# <p><%= item.name %><%#</p>> %>
          <%# <p>￥<%= item.price %><%#</p> %>
          <%# </li> %>
          <%# <%#%>
        <%# </ul> %>
        <div style="text-align: right;">
          <%= link_to "すべての商品を見る >", items_path %> 
        </div>
      </div>
    </div>
  </div>
</div>