<div>
  <div><%# class="container" %>
    <div><%# class="row" %>
      <div><%# ジャンルナビゲーション  class=col-3 %>
        <p>ジャンル検索</p>
        <ul>
          <% @genres.each do |genre_name| %>
          <li><%= genre_name %></li> <%# 検索の仕方は保留 %>
          <% end %>
        </ul>
      </div>
      <div><%# class=col-5 md-3 %>
        <div> <%# class="image-container" style="background-image: url('<%= image_path('画像ファイル名.jpg') %>'<%#); background-size: cover; height: 300px %> 
          <p>ようこそ、ながのcakeへ!<br>
            このサイトは、ケーキ販売のECサイトになります。<br>
            会員でない方も商品の閲覧はできますが、<br>
            購入には会員登録が必要になります。</p>
        </div>
        <%# <h2>新着情報</h2> %>
        <%# <ul> %>
          <%# <% @items.each do |item| %><%#%>
          <%# <li> %>
          <%# <p></p> %> <%# <%= item.image %><%# %>
          <%# <p><%= item.name %><%#</p>> %>
          <%# <p>￥<%= item.price %><%#</p> %>
          <%# </li> %>
          <%# <%#%>
        <%# </ul> %>
        <div><%# 左寄せ %>
          <%= link_to "すべての商品を見る >", items_path %> 
        </div>
      </div>
    </div>
  </div>
</div>