<div class="container mt-4">
  <h2 class="fw-bold text-center border-bottom pb-2 mb-4">
    <%= @customer.full_name %> さんの会員詳細
  </h2>

  <div class="row">
    <div class="col-md-8 offset-md-2">
      <table class="table table-sm text-start border-0">
        <tbody>
          <tr>
            <th class="fw-bold">会員ID</th>
            <td><%= @customer.id %></td>
          </tr>
          <tr>
            <th class="fw-bold">氏名</th>
            <td><%= @customer.full_name %></td>
          </tr>
          <tr>
            <th class="fw-bold">フリガナ</th>
            <td><%= @customer.full_name_kana %></td>
          </tr>
          <tr>
            <th class="fw-bold">郵便番号</th>
            <td><%= @customer.postal_code %></td>
          </tr>
          <tr>
            <th class="fw-bold">住所</th>
            <td><%= @customer.address %></td>
          </tr>
          <tr>
            <th class="fw-bold">電話番号</th>
            <td><%= @customer.phone_number %></td>
          </tr>
          <tr>
            <th class="fw-bold">メールアドレス</th>
            <td><%= @customer.email %></td>
          </tr>
          <tr>
            <th class="fw-bold">会員ステータス</th>
            <td>
              <span class="<%= @customer.is_active ? 'text-success fw-bold' : 'text-secondary fw-bold' %>">
                <%= @customer.is_active ? '有効' : '退会' %>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="d-flex justify-content-center gap-4 mt-4">
        <%= link_to '編集する', edit_admin_customer_path(@customer.id), class: "btn btn-success px-4" %>
        <%= link_to '注文履歴一覧を見る', admin_root_path, class: "btn btn-primary px-4" %>
      </div>
    </div>
  </div>
</div>
