<h2 class="text-center mb-4">注文履歴一覧</h2>
<div class="container">
  <table class="table table-bordered table-hover text-center">
    <thead class="thead-dark">
      <tr>
        <th>購入日時</th>
        <th>購入者</th>
        <th>注文個数</th>
        <th>注文ステータス</th>
      </tr>
    </thead>
    <tbody>
      <% @orders.each do |order| %>
        <tr>
          <td><%= link_to order.created_at.strftime("%Y/%m/%d %H:%M:%S"), admin_order_path(order.id) %></td>
          <td><%= order.customer.full_name %></td>
          <td><%= order.order_details.sum(:amount) %></td>
          <td><%= order.payment_method_i18n %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="d-flex justify-content-center">
    <%= paginate @orders %>
  </div>
</div>
