<h1>配送先一覧</h1>

<table>
  <tr>
    <th>郵便番号</th>
    <th>住所</th>
    <th>宛名</th>
    <th>操作</th>
  </tr>
  <% @addresses.each do |address| %>
    <tr>
      <td><%= address.postal_code %></td>
      <td><%= address.address %></td>
      <td><%= address.name %></td>
      <td>
        <%= link_to '編集', edit_address_path(address) %> |
        <%= link_to '削除', address_path(address), method: :delete, data: { confirm: '本当に削除しますか？' } %>
      </td>
    </tr>
  <% end %>
</table>

<h2>新しい配送先を追加</h2>

<%= form_with model: @address, url: addresses_path, method: :post, local: true do |f| %>
  <p>郵便番号: <%= f.text_field :postal_code %></p>
  <p>住所: <%= f.text_field :address %></p>
  <p>宛名: <%= f.text_field :name %></p>
  <%= f.submit '追加' %>
<% end %>