<h2>注文確認</h2>

<p>支払方法: <%= @order.payment_method == "credit_card" ? "クレジットカード" : "銀行振込" %></p>

<h3>お届け先</h3>
<p>〒<%= @order.postal_code %> <%= @order.address %> <%= @order.name %></p>

<h3>注文商品</h3>
<table>
  <tr>
    <th>商品名</th>
    <th>単価(税込)</th>
    <th>数量</th>
    <th>小計</th>
  </tr>
  <% @cart_items.each do |cart_item| %>
    <tr>
      <td><%= cart_item.item.name %></td>
      <td><%= number_to_currency(cart_item.item.price) %></td>
      <td><%= cart_item.amount %></td>
      <td><%= number_to_currency(cart_item.item.price * cart_item.amount) %></td>
    </tr>
  <% end %>
</table>

<h3>合計金額: <%= number_to_currency(@total_price) %></h3>

<%= form_with model: @order, url: orders_path, method: :post do |f| %>
  <%= f.hidden_field :payment_method %>
  <%= f.hidden_field :postal_code %>
  <%= f.hidden_field :address %>
  <%= f.hidden_field :name %>
  <%= f.hidden_field :shopping_cost, value: 500 %>
  <%= f.hidden_field :total_payment, value: @total_price + 500 %>

  <%= f.submit "注文を確定する" %>
<% end %>