<h2>注文履歴一覧</h2>

<%= form_with url: orders_path, method: :get, local: true do |f| %>
  <%= f.label :search, "Search" %>
  <%= f.text_field :search %>
  <%= f.submit "検索" %>
<% end %>

<table>
  <tr>
    <th>注文日</th>
    <th>配送先</th>
  </tr>
  <% @orders.each do |order| %>
    <tr>
      <td><%= order.created_at.strftime("%Y/%m/%d") %></td>
      <td>
        〒<%= order.postal_code %><br>
        <%= order.address %><br>
        <%= order.name %>
      </td>
    </tr>
  <% end %>
</table>

<table>
  <tr>
    <th>注文商品</th>
    <th>支払金額</th>
    <th>ステータス</th>
    <th></th>
  </tr>
  <% @orders.each do |order| %>
    <tr>
      <td>
        <% order.order_items.each do |item| %>
          <%= item.item.name %><br>
        <% end %>
      </td>
      <td><%= number_to_currency(order.total_payment) %></td>
      <td><%= order.status_i18n %></td>
      <td><%= link_to "表示する", order_path(order) %></td>
    </tr>
  <% end %>
</table>