<div class="container">
  <div class="row">
    <div class="col-12 col-md-3 mb-3 border text-center p-3">
      <h5>ジャンル検索</h5>
      <ul class="list-unstyled" style="text-align: left">
        <% @genres.each do |genre_name| %>
        <li class="text-start"><%= genre_name %></li> <%# 検索の仕方は保留 %>
        <% end %>
      </ul>
    </div>
    <div class="col-md-9">
      <%= form_with model: @cart_item, url: cart_items_path do |f| %>
        <div class="col-md-9">
          <div>
            <%= image_tag @item.get_image %>
          </div> <%# 画僧のタグ%>
          <h3><%= @item.name %></h3>
          <p><%= @item.introduction %></p>
          <p><span style="font-weight: bold; font-size: 150%;">￥<%= number_with_delimiter(@item.price*1.1.floor) %></span>&lpar;税込&rpar;</p>
          <%= f.select :amount, options_for_select((1..3).to_a, 1) %>
          <%= f.hidden_field :item_id, value: @item.id %>
          <%= f.submit "カートに入れる", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div><%# row %>
</div><%# container %>